.review-container {
    max-width: 600px;
    margin: auto;
    font-family: Arial, sans-serif;

    .review-card,
    .comment-section {
        background: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        width: 100%;
        max-width: 660px;
    }

    h3 {
        color: #123082;
        margin-bottom: 15px;
    }

    .review-content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .company-logo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        h4 {
            margin: 0;
            color: #123082;
        }
    }

    .comment-section {

        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button {
            background: #123082;
            color: #fff;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            display: flex;
            align-items: center;
            gap: 5px;

            &:hover {
                background: #0e275a;
            }
        }
    }
}